* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    nav > ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    nav li {
        width: 100%;
        text-align: center;
        background-color: lightblue;
        padding: 10px;
        border: 1px solid black;
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}

@media print {
    img {
        display: none;
    }
}